# Ignore environment and temporary files
env/
*.pyc
__pycache__/
data/raw/*
.DS_Store
.env
.smartshop
# Node.js and frontend specific ignores
/frontend/node_modules
/frontend/dist
/frontend/.env.local
/frontend/.env.*.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

/embedding_service/wheels/

# Ignore Terraform provider binaries and state files
/smartshop-iac/.terraform/
/smartshop-iac/*.tfstate
/smartshop-iac/*.tfstate.backup
/smartshop-iac/.terraform.lock.hcl
/smartshop-iac/.terraform.lock.hcl.json
/smartshop-iac/.terraform.tfvars
/smartshop-iac/.terraform.tf
